
snippet spo2 "SpO2"
  SpO2

snippet trophs "c-Trop ng/ml"
  c-Troponin T (hochsensitiv)

snippet trop "c-Trop ng/ml"
  c-Troponin T

snippet bnp "Nt-proBNP pg/ml"
  Nt-proBNP

snippet pesi "PESI"
  Pulmonary Embolism Severity Index (PESI) ${0}


snippet spesi "sPESI"
  simplified Pulmonary Embolism Severity Index (sPESI) ${0}
