# med snippets für Latex

# ECMO
snippet vfvj "Vf - Vj"
 V\textsubscript{f} - V\textsubscript{j}${0}

snippet vavf "Va - Vf"
 V\textsubscript{f} - V\textsubscript{j}${0}

# BGA
snippet fdo2 "fdo2"
  \ignore{FdO2}$\text{F}_{d}\text{O}_{2}$

# snippet fio2 "fio2"
#   \ignore{FiO2}$\text{F}_{i}\text{O}_{2}$

snippet fio2 "FiO2"
  \ignore{fio2}\$F\mathrm{iO2}$

snippet spo2 "spo2"
  \ignore{SpO2}$\text{S}_{p}\text{O}_{2}$

snippet sao2 "sao2"
  \ignore{SaO2}$\text{S}_{a}\text{O}_{2}$

snippet co2 "co2"
  \ce{CO2}

snippet o2 "o2"
  \ce{O2}

snippet scvo2 "ScvO2"
  \ignore{ScvO2}$\text{S}_{cv}\text{O}_{2}$

# Beatmung
# Klassifikation
# $\dot V_{\mathrm{CO_2}}$   # wissenschaftlich sauber
# $\dot V\!\mathrm{CO_2}$  # guter klinischer Kompromiss V kursiv als Variable, CO2 aufrecht, das ! macht den kleinen Zwischenraum zwischen V und CO2 weg
# $\mathrm{\dot VCO_2}$      % vertraut, aber V nicht kursiv

snippet vco2 "vco2"
  \ignore{vco2}\$V\!\mathrm{CO_2}$

snippet vco2dot "vco2 dot ml/min"
  \ignore{vco2dot}\$\dot V\!\mathrm{CO_2}$

snippet vo2 "vo2"
  \ignore{vo2}\$V\!\mathrm{O_2}$

snippet vo2dot "vo2 dot ml/min"
  \ignore{vo2dot}\$\dot V\!\mathrm{O_2}$

snippet etco2 "etco2"
  \ignore{etCO2}\$\mathrm{etCO_2}$

snippet pinsp "Pinsp"
  \ignore{pinsp}\$P_{\mathrm{insp}}$

snippet ppeak "ppeak"
  \ignore{ppeak}\$P_{\mathrm{peak}}$

snippet pplat "Pplat"
  \ignore{pinsp}\$P_{\mathrm{plat}}$

snippet paw "Paw"
  \ignore{paw}\$P_\mathrm{AW}$

snippet ptrachea "Ptrachea"
  \ignore{ptrachea}\$P_\mathrm{Trachea}$

snippet pmus "Pmuskel"
  \ignore{pmuskel}\$P_\mathrm{Muskel}$

snippet palv "Palv"
  \ignore{palv}\$P_\mathrm{alv}$

snippet peepi "PEEPi"
  \ignore{peepi}\$\mathrm{PEEP}_{\mathrm{i}}$

snippet peeptot "PEEPtotal"
  \ignore{peeptot}\$\mathrm{PEEP}_{\mathrm{tot}}$

snippet peepext "PEEPextern"
  \ignore{peepextern}\$\mathrm{PEEP}_{\mathrm{extern}}$

snippet ti "tinspiration"
  \ignore{ti}\$T_{\mathrm{i}}$


snippet timax "t inspiration max"
  \ignore{ti}\$T_{\mathrm{imax}}$

snippet pip "Peak inspiratory pressure"
  \ignore{pip}\$P_{\mathrm{ip}}$

snippet psupp "ΔPsupp (ASB)"
  \ignore{psupp}\$\Delta P_{\mathrm{supp}}$

snippet dpsupp "ΔPsupp (ASB)"
  \ignore{psupp}\$\Delta P_{\mathrm{supp}}$

snippet dp "ΔP (Delta P)"
  \ignore{dp}\$\Delta P$

snippet dpdrive "ΔPdrive (driving pressure)"
  \ignore{dpdrive}\$\Delta P_{\mathrm{drive}}$

snippet dptubus "ΔPtubus"
  \ignore{dptubus}\$\Delta P_{\mathrm{Tubus}}$

# kompromiss V kursiv rest aufrecht
# snippet vt "vt"
#   \ignore{vt}\$V_\mathrm{t}$
#
# snippet vti "vti"
#   \ignore{vcti}\$V_\mathrm{ti}$
#
# snippet vte "vte"
#   \ignore{vte}\$V_\mathrm{te}$
#
# snippet vds "vds"
#   \ignore{vds}\$V_\mathrm{ds}$

#bekannte Lesbarkeit
snippet vt "vt"
  \ignore{vt}\$\mathrm{V_{t}}$

snippet vti "vti"
  \ignore{vti}\$\mathrm{V_{ti}}$

snippet vte "vte"
  \ignore{vte}\$\mathrm{V_{te}}$

snippet vds "vds"
  \ignore{vds}\$\mathrm{V_{ds}}$

snippet paco2 "paco2"
  \ignore{paco2}\$\mathrm{P_a CO_2}$

snippet paco2A "pAco2"
  \ignore{pAco2}\$\mathrm{P_A CO_2}$

snippet petco2 "petco2"
  \ignore{petco2}\$\mathrm{P_ET CO_2}$


snippet peco2bar "peco2 bar mit Strich über dem E"
  \ignore{peco2bar}\$\mathrm{P_{\bar{E}} CO_2}$

snippet siii "siii"
  \ignore{siii}\$\mathrm{S_{III}}$

snippet sii "sii"
  \ignore{sii}\$\mathrm{S_{II}}$
