#-- SNIPPETS --

extends tex-med
extends tex-beamer
#
# new glossary entry
snippet gloss "Glossary Entry"  b
	\newglossaryentry{${1:entry}}{
			name = {${2:name}},
			symbol = {\ensuremath{${3:symbol}}},
			description = {${4:description}}
	}
#



# beamer frame enviornment
snippet frame "Beamer Frame" b
	\begin{frame}

		\textbf{${1:label}} ${2:claim}
		\vspace{.2in}
		\pause


	\end{frame}

	%%% -------------------------------------------------------
#




# beamer item enviornment
snippet bemit "Beamer Item" b
	\textbf{${1:label}} ${2:claim}
	\vspace{.2in}
	\pause
#




# custom theorem enviornment
snippet customthm "Custom Theorem" b
	\vspace{.1in}
	\begin{customthm}{(${1:label})}
		${2:claim}
	\end{customthm}

	\begin{Answer}
		${0}
	\end{Answer}
#


# factoidbox enviornment
snippet factoidbox "Factoid Box" b
	\label{rule:${2:$1}}
	\factoidbox{
		\textbf{(${1:name})} ${0}
	}
#

# framed text enviornment
snippet textbox "Text Box" b
	\begin{tcolorbox}
		${0}
	\end{tcolorbox}
#

# new command
snippet qt "New Command" b
	\qt{${1:\forall}}{${2:\alpha}}${0}
#

# new command
snippet qte "New Command" b
	\qt{${1:\exists}}{${2:\alpha}}${0}
#

# new command
snippet nc "New Command" b
	\newcommand{${1:cmd}}[${2:opt}]{${3:realcmd}} ${0}
#

#usepackage
snippet up "Use Package" b
	\usepackage[${1:options}]{${2:package}} ${0}
#

# \begin{}...\end{}
snippet begin "Begin End"
	\begin{${1:env}}
		${2:${VISUAL}}
	\end{$1}${0}
#

# Align(ed)
snippet align "Align Env" b
	\begin{align${1:ed}}
		\label{${2:name}}
		${0}
	\end{align$1}
#

# Quote
# snippet quote "Quotation" b
# 	\vspace{-.1in}
# 	\begin{quote}\singlespacing\small
# 		${0}
# 		\hfill(p.~${1})
# 	\end{quote}
# 	\vspace{.1in}
#

# enquote quote
snippet quote "Anführungszeichen" 
	\enquote{${1:name}}
#
snippet enquote "Anführungszeichen" 
	\enquote{${1:name}}

# zitat normal 
snippet cite "Zitat normal" 
	\cite{${1:name}}, S. ~${2:seite}}

# snippet cite "Zitat mit Seite für biblatex"
# 	\cite[S.~${2:seite}]{${1:name}}${0}


snippet citen "Zitat normal" 
	\cite{${1:name}}, S. ${2:seite}}${0}
#

# zitat foot 
snippet cf "Zitat foot" i
	\footnote{\cite{${1:name}}, S. ${2:Seite}}${0}
#

# zitat foot 
snippet citef "Zitat foot" i
	\footnote{\cite{${1:name}}, S. ${2:Seite}}
#



# zitat foot 
snippet cf "Zitat foot" i
	\footnote{\cite{${1:name}}, S. ${2:Seite}}${0}
#

# Labelalign
snippet labelalign "Label Align" b
	\vspace{.05in}
	\begin{labelalign} %\small\onehalfspacing
		\item[${2:\it} ${3:Label:}] ${0}
	\end{labelalign}
	\vspace{.05in}
#

# Enumerate
snippet enumb "Enumerate" b
	\begin{enumerate}
		\item[${1:\it }${2}:] ${0}
	\end{enumerate}
#

# Enumerate
snippet enum "Enumerate" b
	\begin{enumerate}
		\item ${0}
		\item 
		\item
		\item 
	\end{enumerate}
#

# Itemize ben
snippet itemben "Itemize" b
	\begin{itemize}
		\item[${1:\it} ${2:Label:}] ${0}
	\end{itemize}
#

# Itemize
snippet item "Itemize" 
	\begin{itemize}
		\item[-] ${0}
		\item[-] 
		\item[-] 
		\item[-]
	\end{itemize}
#

#Item ben
snippet iben "Item" b
	\item[${1:\it} ${2}:] ${0}
#

#Item normal mit Spiegelstrich
snippet i- "Item"
	\item[-] ${0}
#

#Item für enumerate
snippet ie "Item"
	\item ${0}
#

# item für labelled mit wiederholung
snippet ilabelcom "item labelled command"
	\newcommand{\labeleditem}[2]{\item \label{#1} #2 \edef\@currentlabelname{#2}}${0}
#	



# item für labelled mit wiederholung
snippet ilabelcom "item labelled command"
	\labeleditem{${1:label}}{${2:text}}
#


# Cases
snippet case "Cases" 
	${1:LHS}=	
	\begin{cases}
		${2:Value}, &\text{ if } ${3:case}\\
		${4:Value}, &\text{ otherwise.} ${5:otherwise}.
	\end{cases}${0}
#
snippet chapter "chapter tex"
   \chapter{${1:Name}}
   \label{chap:${2:$1}}
   \minitoc % Inhaltsverzeichnis für dieses Kapitel

   % \addbibresource{/Users/g//Library/texmf/bibtex/bib/Zotero.bib} %Hinzufügen der Bibliografiedatei
   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Radiologische Befunde anschauen (Ashvin)%

   % BEGINN DOKUMENT

   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

   ${0}


# Section
snippet sec "Section" b
	\section{${1:Name}}%
		\label{sec:${2:$1}}
		${0}
#


# Sub Section ben
snippet sub "Sub Section" b
	\subsection{${1:Name}}%
		\label{sub:${2:$1}}
#

# Sub Sub Sectionben
snippet ssub "Sub Sub Section" b
	\subsubsection{${1:Name}}%
		\label{sub:${2:$1}}
#
snippet nossub "Sub Sub Section no toc"
   \notocsubsubsection{${1:Name}}
      \label{sub:${2:$1}}
# 

# Hyper Section
snippet hsec "Hyper Section" b
	\hypsection{${1:Name}}%
		\label{sec:${2:$1}}
		${0}
#

# Hyper Sub Section
snippet hsub "Hyper Sub Section" b
	\hypsubsection{${1:Name}}%
		\label{sub:${2:$1}}
		${0}
#

# Hyper Sub Sub Section
snippet hssub "Hyper Sub Sub Section" b
	\hypsubsubsection{${1:Name}}%
		\label{sub:${2:$1}}
		${0}
#

#Formating text: italic, bold, underline, small capital, emphase ..
snippet uline "underline"
  \uline{${1:text}}${0}

snippet it "Italics" wi
	\textit{${1}}${0}
#

snippet tt "Teletype" wi
	\texttt{${1}}${0}
#

snippet bf "Bold" wi
	\textbf{${1}}${0}
#

snippet sc "Small Caps" wi
	\textsc{${1}}${0}
#

# snippet tsub "Subscripted" i
# 	\textsubscript{${1}}${0}
#
#
# snippet tsup "Superscripted" i
# 	\textsuperscript{${1}}${0}
#

#Math font
snippet mf "Mathfrak" w
	\mathfrak{${1}}${0}
#

snippet mc "Mathcal" w
	\mathcal{${1}}${0}
#

snippet ms "Mathscr" w
	\mathscr{${1}}${0}
#

snippet bref "Bold Ref" w
	\textbf{\ref{${1:Ref}}}${0}
#

#misc
snippet fproof "Footnote Proof" bi
	\footnote{\textit{Proof:} ${1:Begin} \qed}${0}
#

snippet lab "Label" wi
	\label{${1:LABEL}}${0}
#

snippet fn "Footnote" wi
	\footnote{${1:FOOTNOTE}}${0}
#
snippet fnquelle "Footnote Quelle"
      # {\footnotesize\raggedright  Quelle: \cite{${1:name}}, S.${2:seite}\par}
      {\footnotesize Quelle: \cite{${1:name}}, S.${2:seite}\par}

snippet fig "Figure environment" b
	\begin{figure}
	   \begin{center}
		  \includegraphics[scale=${1}]{Figures/${2}}
	   \end{center}
	   \caption{${3}}
	   \label{fig:${4:$3}}
      {\footnotesize Quelle:${4:quelle}}
	\end{figure}
	${0}
#

snippet tikz "Tikz environment" b
	\begin{figure}[htpb]
	\begin{center}
	\begin{tikzpicture}[scale=${1:1}, transform shape]
		${2}
	\end{tikzpicture}
	\end{center}
	\caption{${3}}%
	\label{fig:${4:$3}}
   {\footnotesize Quelle:${5:quelle}}
	\end{figure}
	${0}

snippet rule "Rule" bi
	\factoidbox{
	\begin{Rthm} \label{rule:${4:label}}
		\textbf{($${1:\boldsymbol}${2:SYM}$${3:IE})}~~ ${0:${VISUAL}}
	\end{Rthm}
	}

snippet lemma "Lemma" bi
	\begin{Lthm} \label{lemma:${1:label}}
		${0:${VISUAL}}
	\end{Lthm}

snippet prop "Proposition" bi
	\begin{Pthm} \label{${1:label}}
		${0:${VISUAL}}
	\end{Pthm}

snippet thrm "Theorem" bi
	\begin{theorem} \label{${1:label}}
		${0:${VISUAL}}
	\end{theorem}

snippet prf "Proof" bi
	\begin{quote} 
		\textit{Proof:} ${0:${VISUAL}}
	\end{quote}

snippet def "Definition" bi
	\begin{definition}[$1]
		${0:${VISUAL}}
	\end{definition}

snippet prob "Problem" bi
	\begin{problem}[$1]
		${0:${VISUAL}}
	\end{problem}

snippet corl "Corollary" bi
	\begin{corollary}[$1]
		${0:${VISUAL}}
	\end{corollary}

snippet example "Example" bi
	\begin{example}[$1]
		${0:${VISUAL}}
	\end{example}


# snippet pngfig "png bild" b
# 	
# 	\begin{figure}[H]
#     	\centering
#       \begin{minipage}{1\textwidth}
#         # \centering
#     	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
#     	  \caption{${2:Name}}
#     	  \label{fig:$2}
#         \par\smallskip
#         # {\footnotesize\raggedright  Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
#         {\footnotesize\raggedright  Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
#       \end{minipage}
# 	\end{figure}
# 	${0}

snippet pngfig "png bild" b
	
	\begin{figure}[H]
    	\centering
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
    	  \caption{${2:Name}}
    	  \label{fig:$2}
        \par\smallskip
        {\footnotesize\raggedright  Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
	${0}

snippet pngfig-tikz "png bild mit tikz annotation" b
	\begin{figure}[H]
    	\centering
      \begin{minipage}{1\textwidth}
      \annotatedimage[0.8\linewidth]{./bilder/${1:name}}
       \imagegrid
      % Kreis: 
        % Mittelpunkt-x - Mittelpunkt-y - Radius
        % \imagecircle{0.45}{0.55}{0.08}
      % Pfeil:
        % Start-x - Start-y - Ziel-x - Ziel-y
        % \imagearrow{0.80}{0.75}{0.53}{0.60}
      % Rechteck:
        % links - unten - rechts - oben
         \imagerect{0.30}{0.40}{0.70}{0.65}
      % Textlabel:
        % Position-x - Position-y - Text
        % \imagelabel{0.78}{0.82}{Beschriftung}
      \endannotatedimage
    	  \caption{${2:Name}}
    	  \label{fig:$2}
        \par\smallskip
        {\footnotesize\raggedright  Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
	${0}



snippet pngtab "png Tabelle" b
	
	\begin{table}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{tab:$2}
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{table}
	${0}

snippet pngfigup "png bilder im Überordner" b
	
	\begin{figure}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{fig:$2}
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
snippet pngfigdown "png bilder im Unterordner" b
	
	\begin{figure}[H]
    	\centering
      \begin{minipage}{1\textwidth}
        # \centering
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
    	  \caption{${2:Name}}
    	  \label{fig:$2}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
	${0}

snippet pngfigcenter "png fig unterordner center für multicols"
  \begin{center}
    	\centering
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
    	  \caption{${2:Name}}
    	  \label{fig:$2}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
  \end{center}

snippet pngcenterFIG "png fig float 1 spalte, unterordner center für multicols"
   {\centering
      \begin{minipage}{1\columnwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
    	  \captionof{figure}{${2:Name}}
    	  \label{fig:$2}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
   \par}

snippet pngcenterTAB "png fig float 1 spalte, unterordner center für multicols"
   {\centering
      \begin{minipage}{1\columnwidth}
    	  \captionof{table}{${2:Name}}
    	  \label{tab:$2}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
   \par}

snippet pngtabup "png Tabelle im Überordner" b
	
	\begin{table}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{tab:$2}
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{table}
	${0}
#
snippet pngtabdown "png Tabelle im Unterordner" b
	
	\begin{table}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{tab:$2}
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{table}
	${0}

snippet pngtabcenter "png tabelle unterordner center für multicols"
  \begin{table}
    	\centering
    	\caption{${2:Name}}
    	\label{tab:$2}
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{table}
# png same folder
snippet pppsame "png same folder" b
	
	\begin{figure}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{fig:$2}
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
	${0}
#
# png same folder
snippet pngsame "png same folder" b
	
	\begin{figure}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{fig:$2}
      \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:Name}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
	${0}
#

# png multi
snippet pppmulti "png multi" b
	
	\begin{figure}[H]
    	\centering
    	\caption{${2:name-bild-links}}
    	\label{fig:$2}
       \begin{minipage}{1\textwidth}
    	  \includegraphics[width=\linewidth]{./bilder/${1:name-bild-links}}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
	${0}
#
# png multi
snippet pngmulti "pngmulti" b
  \end{multicols}
       
  \begin{multicols}{2}
 
  \begin{figure}[H]
   	\centering
     \begin{minipage}{1\linewidth}
   	  \begin{center}
   	  \includegraphics[height=7cm,width=\linewidth,keepaspectratio]{./bilder/${1:name-bild-links}}
   	  \end{center}
   	\caption{${2:titel-bild-links}}
   	\label{fig:$2}
       \par\smallskip
       {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
     \end{minipage}
  \end{figure}

  \columbreak

  \begin{figure}[H]
   	\centering
     \begin{minipage}{1\linewidth}
   	  \begin{center}
   	  \includegraphics[height=7cm,width=\linewidth,keepaspectratio]{./bilder/${6:name-bild-rechts}}
   	  \end{center}
   	\caption{${7:titel-bild-rechts}}
   	\label{fig:$7}
       \par\smallskip
       {\footnotesize Quelle: \cite{${8:zitat}}, S. ${9:seite}\par}
     \end{minipage}
  \end{figure}
 
  \end{multicols}
 
  \begin{multicols}{2}

#

# png ecmo 
snippet ecmopng "ecmopng" b
	
	\begin{figure}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{fig:$2}
      \begin{minipage}{1\textwidth}
     	\includegraphics[width=\linewidth]{./ECMO-latex-png/${1:Name}.png}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
	${0}
#


# png ecmo 
snippet ecmopdf "ecmopdf" b
	
	\begin{figure}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{fig:$2}
        \begin{minipage}{0.8\textwidth}
        \includegraphics[width=\linewidth]{./ECMO-latex-png/${1:Name}.pdf}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{figure}
	${0}
#


# png ecmo 
snippet ecmotbl "ecmotbl" b
	
	\begin{table}[H]
    	\centering
    	\caption{${2:Name}}
    	\label{tab:$2}
      \begin{minipage}{1\textwidth}
        \includegraphics[width=\linewidth]{./ECMO-latex-png/${1:Name}.png}
        \par\smallskip
        {\footnotesize Quelle: \cite{${4:zitat}}, S. ${5:seite}\par}
      \end{minipage}
	\end{table}
	${0}
#

# pdf include 
snippet pdfi "pdf include" b
	
	\begin{figure}[H]
    	\centering
    	\includegraphics[width=0.5\textwidth]${1:Name}/${2:Name}.pdf}
    	\caption{${3:Name}}
    	\label{fig:${4:Name}}
	\end{figure}
	${0}

snippet pdfinclude-anhang "pdf direkt unter Anhang"
  \includepdf[
    pages=1,
    scale=0.9,
    pagecommand={\section{Anhang}\label{sec:Anhang}\subsection{${1:name-für-toc}}%
      \label{sub:${1}}
      \thispagestyle{plain}}
  ]{${2:name}.pdf}

  \includepdf[
    pages=2-,
    scale=0.9,
    pagecommand={\thispagestyle{plain}}
  ]{${2}.pdf}



# Linie
snippet linie "linie" 
	\rule{${1:Länge}cm}{${2:Breite}mm}
	${0}
#

# Lüccke
snippet lücke "lücke"
  \hspace{${1:Länge}cm} ${0}
#

# Tabelle
snippet tabelle3x3 "tabelle 3x4"
  \begin{table}[H]
	 \centering
	 \caption{${1:Titel der Tabelle}}
		\label{tab:${2:$1}}
		  \begin{tabular}{|l|c|c|}
			 \hline
			 ${3:\ignore{überschrift 1}} & ${4:überschrift 2} & ${5:überschrift 3} \\\\
			 \hline
			 ${6:Zelle} & Zelle & Zelle \\\\
			 \hline
			 Zelle & Zelle & Zelle \\\\
			 \hline
			 Zelle & Zelle & Zelle \\\\
			 \hline
		  \end{tabular}
  \end{table}
#


# Tabelle
snippet tabelle2x3 "tabelle 2x3"
  \begin{table}[H]
	 \centering
	 \caption{${1:Titel der Tabelle}}
		\label{tab:${2:$1}}
		  \begin{tabular}{|l|c|}
			 \hline
			 ${3:\ignore{überschrift 1}} & ${4:überschrift 2} \\\\
			 \hline
			 ${6:Zelle} & Zelle \\\\
			 \hline
			 Zelle & Zelle \\\\
			 \hline
			 Zelle & Zelle \\\\
			 \hline
		  \end{tabular}
  \end{table}
#
# ignore
snippet ignore "ignore"
  \ignore{${1:wort}}$ ${0}
#

# & escaped in Tabelle
snippet && "& escape"
  \& ${0}
#

# include pdf
snippet inpdf "include pdf"
  \includepdf[pages=-, pagecommand={\thispagestyle{fancy}}]{${1:Datei}}
  ${0}
#

# Link
snippet link "link tex ohne Namen"
  \url{${1:url}${0}}
##

snippet link-name " link tex mit Namen"
	\href{${1:Link}}{${2:Beschreibung}, Stand ${3:Datum}}
#

snippet url "url tex ohne Namen"
  \url{${1:url}${0}}

snippet url-name "url tex mit Namen"
	\href{${1:Link}}{${2:Beschreibung}, Stand ${3:Datum}}
#
# toc Inhaltsverzeichnis
snippet toc "toc und href"
  \hypertarget{toc}{}
  \vspace{-1.5cm}
  % Anpassen der Überschriftsabstände

  %-------------------------- INHALTSVERZEICHNIS ----------------------------  
  % Hyperlinks schwarz für das Inhaltsverzeichnis
  % \hypersetup{linkcolor=black}

  \tableofcontents % Erzeugt das Inhaltsverzeichnis
  \listoftables
  \listoffigures
  % Hyperlinks dunkelrot für den Rest des Dokuments
  \hypersetup{
    linkcolor = red!70!black,
              citecolor = black, % Farbe für Zitate
                urlcolor = blue    % Farbe für URL-Links
  }
  ${0}
#

snippet todo "todo tex"
  %TODO: ${0}

snippet memo "memo tex"
  %MEMO: ${0}



snippet latred "latex rot"
  \textcolor{red!70!black}{${1:Text}} ${0}


snippet latp "Latex Prozent"
 \SI{${1:zahl}}{\percent}${0}

snippet latpp "Latex p < "
 $\mathrm{p} ${1:< = >} \num{0.0${2:zahl}}$${0}

snippet kernpunkte "Kernpunkte gmics"
  \section*{Kernpunkte} % Sternchen nach section macht dass die Section nicht nummeriert wird und auch nicht im Inhaltsverzeichnis erscheint
  \begin{enumerate}
    \item Key Point 1
    \item Key Point 2
    \item Key Point 3
  \end{enumerate}


snippet beginmulticols2 "begin multicols 2"
  \begin{multicols}{2}

snippet endmulticols "end multicols"
  \end{multicols}


snippet end-begin-multicols "end and begin multicols"
  \end{multicols}

  ${0}

  \begin{multicols}{2}

snippet reff "reference latex"
  \ref{${1:titel}}

snippet equation-multi "equation for multicols breite"
  \begin{equation}
  \resizebox{\columnwidth}{!}{$
  \text{${1:ergebnis}} = ${2:formel}
  $}
  \end{equation}
snippet equation-multi-label "equation for multicols breite mit Label"
  \begin{equation}
    \resizebox{\columnwidth}{!}{$
    \text{${1:ergebnis}} = ${2:formel}
    \{eq:${4:3abel}}
  $}
  \end{equation}

snippet equation-simple "equation []"
   \[
     \text{${1:ergebnis}} = \text{${2:variable-1}} \cdot \text{${3:variable-2}}
   \]
snippet equation-simple-label "equation []"
   \begin{equation}
     \text{${1:ergebnis}} = \text{${2:variable-1}} \cdot \text{${3:variable-2}}
     \{eq:${4:label}}
   \end{equation}

snippet equation "Equation anfang/ende"
  \begin{equation}
    ${0}
  \end{equation}


snippet shiny-link "Shiny Link"
  \href{https://shinyicu.de}{Shiny}

snippet shiny-gmics "Shiny gmics"
  \href{https://shinyicu.de/gmics}{G'MICS} ${0}

snippet gmics-shiny "Shiny gmics"
  \href{https://shinyicu.de/gmics}{G'MICS} ${0}

snippet kg/$m^2$ ersetzten "kg/$m^2$ in command line erstetzen"
  %s#kg/\$m\^2\$#\\si{kg/m^2}#g

snippet kg/m2 "kg/m2 mit si package"
  \si{kg/m^2}

snippet sanford-guide-zotero "Sanford Guide Zotero"
  \footnote{\cite{sanfordGuideApp}, ${1:name}, Stand 2026 ${2:datum}}

snippet cmh2o "cm H2O"
  \ignore{cmH2O}cm \ce{H2O}

snippet ____ "____"
  \_\_\_\_ 

snippet hr "HR (95 %-CI) Hazard Ratio"
  HR ${1:hr} (95~\%-CI ${2:wert-1}--${3:wert-2}; p $<$ 0.${4:p-wert})$0

# snippet or "OR (95 %-CI) Odds Ratio"
#   OR ${1:or} (95~\%-CI ${2:wert-1}--${3:wert-2}; p $<$ 0.${4:p-wert})$0
#
snippet 95ci "(95 %-CI)"
  (95~\%-CI ${1:wert-1}--${2:wert-2}; p $<$ ${3:p-wert})$0


snippet auc "AUC (95 %-CI)"
  0.${1:auc} (95~\%-CI 0.${2:wert-1}--0.${3:wert-2}; p$<$\0.${4:p-wert})$0

snippet empfänger "Briefkopf Empfänger"
	${1:Name} \\
	\\
	${2:Straße} \\
	${3:Stadt}

snippet signaturelatex "Unterschrift"
  \hspace{5 mm}
  \includegraphics[width=0.3\linewidth]{/Users/g/Library/Mobile Documents/com~apple~CloudDocs/!Docs iCloud/R Statistik, icloud/Latex, icloud/Latex Projekte/signature_latex.png}


snippet checkbox "Checkbox benötigt amssymb"
  $\square$

snippet checkbox-pdf "Checkbox anklickbar benötigt hyperref"
  \Checkbox[name=cb1]{}

snippet checkbox-filled "Checkbox angekreuzt"
  $\boxtimes$


snippet likert-makros "Likert Makros für Prämbel"
  %========================== Makros für Likert ============================
  \usepackage{amssymb} % für Checkboxen
  \usepackage{array} % für Anordnung tabular

  \newcommand{\checkboxjanein}{
    \\[-0.5em] % macht einen Abstand zum item
    \noindent
    \begin{tabular}{*{2}{>{\centering\arraybackslash}p{2.3cm}}}
    \footnotesize Ja &
    \footnotesize Nein \\[0.5em]
    $\square$ & $\square$
    \end{tabular}
  }

  \newcommand{\likertjanein}{
    \\[-0.5em] % macht einen Abstand zum item
    \noindent
    \begin{tabular}{*{6}{>{\centering\arraybackslash}p{2.3cm}}}
    \footnotesize Ja, eindeutig &
    \footnotesize Ja &
    \footnotesize Eher ja &
    \footnotesize Eher nein &
    \footnotesize Nein &
    \footnotesize Nein, gar nicht \\[0.5em]
    $\square$ & $\square$ & $\square$ & $\square$ & $\square$ & $\square$
  \end{tabular}
  }

  \newcommand{\likertzahlen}{
    \\[-0.5em] % macht einen Abstand zum item
    \noindent
    \begin{tabular}{*{6}{>{\centering\arraybackslash}p{2.3cm}}}
    1 & 2 & 3 & 4 & 5 & 6 \\[0.4em]
    $\square$ & $\square$ & $\square$ & $\square$ & $\square$ & $\square$
    \end{tabular}
  }

  \newcommand{\likertzustimmungmitzahlen}{
    \\[-0.5em] % macht einen Abstand zum item
    \noindent
    \begin{tabular}{*{6}{>{\centering\arraybackslash}p{2.3cm}}}
    \footnotesize Stimme voll zu &
    \footnotesize Stimme zu &
    \footnotesize Stimme eher zu &
    \footnotesize Stimme eher nicht zu &
    \footnotesize Stimme nicht zu &
    \footnotesize Stimme überhaupt nicht zu \\[0.5em]
    1 & 2 & 3 & 4 & 5 & 6 \\[0.4em]
    $\square$ & $\square$ & $\square$ & $\square$ & $\square$ & $\square$
    \end{tabular}
  }

  \newcommand{\likertzustimmung}{
    \\[-0.5em] % macht einen Abstand zum item
    \noindent
    \begin{tabular}{*{6}{>{\centering\arraybackslash}p{2.3cm}}}
    \footnotesize Stimme voll zu &
    \footnotesize Stimme zu &
    \footnotesize Stimme eher zu &
    \footnotesize Stimme eher nicht zu &
    \footnotesize Stimme nicht zu &
    \footnotesize Stimme überhaupt nicht zu \\[0.5em]
    $\square$ & $\square$ & $\square$ & $\square$ & $\square$ & $\square$
    \end{tabular}
  }


snippet kleigl "≤ kleiner gleich"
  \ignore{≤}$\leq$ ${0}

snippet größgl "≥ größer gleich"
  \ignore{≥}$\geq$ ${0}

snippet iqr "IQR mit Angabe"
  (IQR ${1:wert-1}--${2:wert-2} ${3:einheit})

snippet vss ("versus mit Platzhaltern")
  (${1:wert-1} vs ${2:wert-2} ${3:einheit}, p $<$ 0.${4:p-wert})${0}

snippet ign-comment "Tab oder fig nicht kommentieren"
  % nicht kommentieren

snippet no-comment "Tab oder fig nicht kommentieren"
  % nicht kommentieren

snippet comment-latex "nächste Zeile/Block kommentieren"
  % dies kommentieren

snippet comment-latex-aktiv "nächste Zeile/Block aktivieren"
  % dies unkommentieren
